*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: #13111B;
}

::-webkit-scrollbar-thumb {
    background-color: #2e2f33;
    border-radius: 5px;
}
body{
    background-color: #13111B;
    color:#fff;
}

h3 {
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-family: 'Ubuntu', sans-serif;;
  font-weight: bold; 
}

#cabecalho{
  text-align: center;
  margin: 20px;
}

/*Estilização do Menu*/
#menu{
    text-align: center;
}
#menu ul{
    list-style: none;
}
#menu li{
    display: inline;
}

#menu a{
    padding-right: 10px;
    text-decoration: none;
    color:#fff;
}

#menu ul li a:hover{
    color: #4FFFA0;
}

/*Estilizando foto*/
#picture{
  display: flex;
  margin: 20px;
  justify-content: center;
}
img#foto{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid transparent;
    background: linear-gradient(#d39e33,#ed5636,#633BBC) padding-box, linear-gradient(#d39e33,#ed5636,#633BBC) border-box;
    transition: transform 0.3s ease-in-out;
}

img#foto:hover {
  transform: scale(1.1);
}

em {
  color: #4FFFA0;
}

p a {
  text-decoration: none;
  cursor: pointer;
  color: white;    
}

p a:hover {
  color:#4FFFA0;
}
.card .controles {
    padding-left: 130px;
}
.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  background-color: #26272D;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 4px 4px 6px rgb(0, 0, 0);
  transition: background-color 0.7s ease-in-out;
}

.card:hover {
    background-color: #4FFFA0;
}

#habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.cards {
  display: inline-flex;
  margin: 10px;
}

footer {
  text-align: center;
}
#social-media {
  display: flex;
  justify-content:center;
}
#social-media img{
  margin: 4px;
}

#copy {
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  font-style: italic;
}

.card-project {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #26272D;
  border-radius: 15px;
  padding: 0;
  box-shadow: 4px 4px 6px rgb(0, 0, 0);
  width: 300px;
}

.card-project img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.card-project .card-conteudo {
  margin: 10px;
}

.line {
  border: none;
  border-top: 4px solid #4FFFA0;
  margin: 8px 0 8px 0;
  width: 100px;
}

.card-project h4 {
  margin: 10px 0 10px 0;
}

.card-project p {
  margin: 10px 0 10px 0;
}

.card-project a {
  text-decoration: none;
  color: #fff;
}

.card-project a:hover {
  color: #4FFFA0;
}

.tags {
  display: flex;
}

.tags p {
  background-color: rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.20);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
}

.social-media-dinamyc {
  width: 25px;
  color: white;
  display: flex;
  overflow-x: hidden;
  transition: width 0.7s ease-in-out;
  margin: 0.2rem;
}

.social-media-dinamyc:hover {
  width: 200px;
}

@media screen and (min-width: 500px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #about-me {
    padding: 20px;
    text-align: center;
  }
  #projects {
    text-align: center;
  }
}

